<body style="background-color:aliceblue;">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    </head>
    <style>
        .main{
            position: fixed;
            top: 10px;
            left: 10px;
        }
        .th{
            width: 250px;
        }
        body{
                font-family: 'Jua', sans-serif;
            }
    </style>
    <br>
    <h1 style="color: #0404B4;">닉네임 설정</h1>

    <h2>닉네임을 먼저 설정하세요</h2>

    <form action="{% url 'media:nickname' %}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <th></th>
            </tr>
            <tr>
                <td align="right">
                    <input type="text" name="nickname" value="{{nick}}" style="height: 30px; width: 200px;">
                </td>
            </tr>
        </table>
        <br>
        {% csrf_token %}
        <input type="submit" onclick="alert('닉네임 설정 완료!');" value="설정" style="height: 35px; width: 60px; font-size: 16; background-color: #58ACFA; color: ghostwhite; border: #58ACFA; font-family: 'Jua', sans-serif;">
    </form>
    {% for message in messages %}
        {{ message.tag }}
        {{ message }}
    {% endfor %}
    </div>

    <button class="main" onclick="goToMainView();" style="cursor: pointer; height: 23px; width: 170px; font-size: 15; border-radius: 1.0em; background-color: #58ACFA; color: ghostwhite; border: #58ACFA; font-family: 'Jua', sans-serif;">처음으로 돌아가기</button>
    <script type="text/javascript">
        function goToMainView(){
        document.location.href = "{% url 'media:main' %}"
        }
    </script>
</body>