<body style="background-color:aliceblue;">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    </head>
    <style>
        .main{
            position: fixed;
            top: 10px;
            left: 10px;
        }
        .th{
            width: 250px;
        }
        body{
                font-family: 'Jua', sans-serif;
            }
    </style>
    <br>
    <h1 style="color: #0404B4;">2D 그래프 업로드</h1>
    <form action="{% url 'media:uploadFile' %}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <th>
                    파일 선택
                </th>
                <th class="th">기존 파일</th>
            </tr>
            <tr>
                <td align="right">
                    <h3 style="display:inline">1</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_1" >
                </td>
                <td align="center">
                    {{ filetitle_1 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            
            <tr>
                <td align="right">
                    <h3 style="display:inline">2</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_2" >
                </td>
                <td align="center">
                    {{ filetitle_2 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>

            <tr>
                <td align="right">
                    <h3 style="display:inline">3</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_3" >
                </td>
                <td align="center">
                    {{ filetitle_3 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            
            <tr>
                <td align="right">
                    <h3 style="display:inline">4</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_4" >
                </td>
                <td align="center">
                    {{ filetitle_4 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>

            <tr>
                <td align="right">
                    <h3 style="display:inline">5</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_5" >
                </td>
                <td align="center">
                    {{ filetitle_5 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>

            <tr>
                <td align="right">
                    <h3 style="display:inline">6</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_6" >
                </td>
                <td align="center">
                    {{ filetitle_6 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            
            <tr>
                <td align="right">
                    <h3 style="display:inline">7</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_7" >
                </td>
                <td align="center">
                    {{ filetitle_7 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            
            <tr>
                <td align="right">
                    <h3 style="display:inline">8</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_8" >
                </td>
                <td align="center">
                    {{ filetitle_8 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            
            <tr>
                <td align="right">
                    <h3 style="display:inline">9</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_9" >
                </td>
                <td align="center">
                    {{ filetitle_9 }}
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>

            <tr>
                <td align="right">
                    <h3 style="display:inline">10</h3>
                    <input type="text" name="fileTitle" placeholder="Choose File">
                    <input type="file" name="uploadedFile_10" >
                </td>
                <td align="center">
                    {{ filetitle_10 }}
                </td>
            </tr>
        </table>
        <br>
        {% csrf_token %}
        <input type="submit" value="업로드" style="height: 35px; width: 60px; font-size: 16; background-color: #58ACFA; color: ghostwhite; border: #58ACFA; font-family: 'Jua', sans-serif;">
    </form>

    <button class="main" onclick="goToMainView();" style="cursor: pointer; height: 23px; width: 170px; font-size: 15; border-radius: 1.0em; background-color: #58ACFA; color: ghostwhite; border: #58ACFA; font-family: 'Jua', sans-serif;">처음으로 돌아가기</button>
    <script type="text/javascript">
        function goToMainView(){
        document.location.href = "{% url 'media:main' %}"
        }
    </script>
</body>